doctype html
html(lang="cs")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, user-scalable=0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="author" content="Michal Zouhar")
        link(rel="stylesheet" href="assets/css/bootstrap.min.css")
        link(rel="stylesheet" href="assets/css/author.css")
        link(rel="shortcut icon" href="assets/img/ico/favicon.ico" type="image/x-icon")
        title Váš webař
body
    header#metaInfo
        .container-fluid
            .row
                .col-xl-12
                    h1 Maturitní projekt
                    h2 Váš psychiatr, Arteterapeutická dílna Studio Ulita
                    p
    section#author
        .container-fluid
            .row
                .col-xl-4
                    .authorInfo
                        img(src="" alt="photo")
                        h4 Michal Zouhar
                        p 19 let. Narozen v Chrudimi. Student 4. ročníku oboru Programování a hardware na Spše a Voš Pardubice. Student programu STC společnosti Microsoft. Webový vývojář s pětiletou praxí. Uchazeč o studium na ČVUT FIT Praha.
                        .social
                            h5 Více informací na:
                            ul
                                li linkedin.com/in/michal-zouhar-082642120
                        .contact
                            h5 Kontakt:
                            ul
                                li
                                    span mzouhar3@gmail.com
