include head
body
    main
        section#about
            .container-full
                .row
                    .mx-auto
                        #menu-call
                            img#nav-icon(src="assets/img/ico/menu.svg" alt="menu")
                            .modal#menu-modal
                                .modal-content
                                    ul
                                        li
                                            a(href="index.php") Domů
                                        li
                                            a(href="") Eshop
                                        li
                                            a(href="") Články
                                        li
                                            a(href="about.html") O studiu
                                        li
                                            a(href="gallery.html") Galerie
                                        li
                                            a(href="contact.html") Kontakt
                    .col-xl-5
                        #about-info
                            .info-block
                                h3 O Studiu Ulita
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    In mi diam,tincidunt eget ante ut, condimentum luctus nulla.
                                    Pellentesque aliquet lacus metus, sit amet tristique tellus imperdiet in.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    In mi diam, tincidunt eget ante ut, condimentum luctus nulla.
                                    Pellentesque aliquet lacus metus, sit amet tristique tellus imperdiet in.
                                    Ut porttitor lorem dolor, id blandit neque ultrices sit amet.
                                    Curabitur convallis scelerisque nisi.
                            .info-block
                                h3 MUDr. Andrea Wolna
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    In mi diam,tincidunt eget ante ut, condimentum luctus nulla.
                                    Pellentesque aliquet lacus metus, sit amet tristique tellus imperdiet in.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .col-xl-6
                        #about-image
    include script-jquery
    include scripts