@import 'reset';
/* Imports */

@font-face {
  src: url("../fonts/Museo300-Regular.otf") format("opentype");
  font-family: 'Museo_300';
  font-style: normal;
}

@font-face {
  src: url("../fonts/Museo500-Regular.otf") format("opentype");
  font-family: 'Museo_500';
  font-style: normal;
}

@font-face {
  src: url("../fonts/Museo700-Regular.otf") format("opentype");
  font-family: 'Museo_700';
  font-style: normal;
}

@font-face {
  src: url("../fonts/butler_regular-webfont.woff2") format("opentype");
  font-family: 'Butler_Regular';
  font-style: normal;
}

/* Settings */

$font-main: "Museo_300", sans-serif;
$font-main-bolder: "Museo_500", sans-serif;
$font-main-boldest: "Museo_700", sans-serif;
$font-secondary: "Butler_Regular", sans-serif;
$font-size: 15vw;
$primary-color: #fff;
$secondary-color: #000;
$primary-design-color: #303D74;
$secondary-design-color: rgb(255, 222, 23);
$design-color-gray: #e6e6e6;
$design-color-gray-secondary: #808285;
$ico-large: 25vw;
$ico-small: 5vw;
/* Variables */

/* Mixins */

/* Styles */
body {
  height: 100vh;
  overflow-x: hidden;
  background-color: $primary-design-color;
  font-family: $font-main;
  font-size: $font-size;
  color: $primary-color;
  h1 {
    font-size: 6vw;
    margin: 0 0 2vw;
  }
  h2 {
    font-size: 5.5vw;
  }
  h3 {
    font-size: 2.5vw;
  }
  h4 {
    font-size: 1.25vw;
  }
  h5 {
    font-size: 1.1vw;
  }
  h6 {
    font-family: $font-main-bolder;
    font-size: inherit;
  }
  p {
    line-height: 3vh;
    font-size: 1vw;
    padding: 0.5vw 0;
  }
  a {
    display: block;
    width: 100%;
    height: 0;
  }
}
.container-full {
  padding-top: 0;
  padding-bottom: 0;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  div[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}
.container > .container-full {
  margin-left:-15px;
  margin-right:-15px;
}
section {
  .section-banner {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: $font-secondary;
      text-align: center;
      text-transform: uppercase;
      color: $secondary-design-color;
    }
  }
  .section-content {
    padding: 5vw;
    line-height: 4vh;
    h3 {
      margin: 0 0 2vh;
      line-height: 6vh;
      letter-spacing: 0.25vw;
      font-size: 2.75vw;
      font-family: $font-main-boldest;
      text-transform: uppercase;
      color: $secondary-design-color;
    }
    p {
      font-size: 1.5vw;
    }
  }
}

.ico-large {
  width: $ico-large;
}

.ico-small {
  width: $ico-small;
}

#banner {
  height: 100%;
  padding: 10vw 10vw 0 10vw;
  h2 {
    line-height: 12.5vh;
  }
  h3 {
    margin: 0 0 1.5vw;
    text-transform: uppercase;
  }
  h4 {
    font-family: $font-main-boldest;
    font-size: 1vw;
  }
  #news-container {
    padding: 1vh 0;
    .news-message {
      text-align: justify;
      font-size: -500px;
    }
  }
}

#services {
  .section-banner {
    @extend .section-banner;
    background: url("../img/content/services-bckg.png") no-repeat center center / cover;
  }
  #orbit {

  }
  #orbit-controls {
    .orbit-neutron {
      display: inline-block;
      width: 2vw;
      height: 2vw;
      margin: 0 -3vw 0 0;
      border: 0.25vw solid $primary-color;
      border-radius: 50%;
    }
    .active {
      background: $primary-color;
      border: none;
    }
  }
}

#team {
  .teammate-photo {
    height: 50vh;
  }
  #teammate-photo-1 {
    background: url("../img/content/mudr-andrea-wolna-1.png") no-repeat center center / cover;
  }
  #teammate-photo-2 {
    background: url("../img/content/mudr-andrea-wolna-2.png") no-repeat center center / cover;
  }
  #teammate-photo-3 {
    background: url("../img/content/mudr-andrea-wolna-3.png") no-repeat center center / cover;
  }
  .teammate-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background: $primary-color;
    h4 {
      font-family: $font-main-bolder;
      font-size: 2vw;
      color: $primary-design-color;
    }
    p {
      font-size: 1.25vw;
      color: $design-color-gray-secondary;
    }
  }
}

#contact {
  .section-banner {
    @extend .section-banner;
    background: url("../img/content/nevimpici-bckg.png") no-repeat center center / cover;
  }
  #message-form {
    display: grid;
    grid-gap: 1vw;
    input[type="text"] {
      width: 100%;
      padding: 1.1vw;
      background: inherit;
      border: 0.1vw solid $primary-color;
      border-radius: 0.5vh;
      font-size: 0.75vw;
      color: $primary-color;
    }
    textarea {
      @extend input[type="text"];
      resize: none;
      height: 15vw;
    }
    input[type="submit"] {
      @extend input[type="text"];
      width: 25%;
      text-transform: uppercase;
      justify-self: end;
    }
    ::placeholder {
      color: $design-color-gray;
    }
  }
  #map {
    height: 45vh;
  }
}

#footer {
  padding: 2.5vw 5vw 2.5vw 5vw;
  font-size: 1vw;
  div:nth-last-of-type(2) {
    text-align: right;
  }
  h5 {
    padding: 0 0 1vw;
    font-family: $font-main-bolder;
    text-transform: uppercase;
    color: $secondary-design-color;
  }
  #authors {
    margin: 2.5vw 0 0 0;
  }
}

/* Browser specific */
::-webkit-scrollbar {
  display: none;
}