html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  width: 100%;
  height: 100%;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none !important;
  color: inherit !important; }

html {
  width: 100% !important;
  height: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }
/* Imports */
@font-face {
  src: url("../fonts/Museo300-Regular.otf") format("opentype");
  font-family: 'Museo_300';
  font-style: normal; }
@font-face {
  src: url("../fonts/Museo500-Regular.otf") format("opentype");
  font-family: 'Museo_500';
  font-style: normal; }
@font-face {
  src: url("../fonts/Museo700-Regular.otf") format("opentype");
  font-family: 'Museo_700';
  font-style: normal; }
@font-face {
  src: url("../fonts/butler_regular-webfont.woff2") format("opentype");
  font-family: 'Butler_Regular';
  font-style: normal; }
/* Settings */
/* Variables */
/* Mixins */
/* Styles */
body {
  height: 100vh;
  overflow-x: hidden;
  background-color: #c22240;
  font-family: "Museo_300", sans-serif;
  font-size: 1vw;
  color: #fff; }
  body h1 {
    font-size: 12vmin;
    line-height: 120%; }
  body h2 {
    font-size: 12vmin;
    text-align: center;
    text-transform: uppercase; }
  body h3 {
    line-height: 120%;
    font-size: 6vmin;
    letter-spacing: 0.125vw; }
  body h4 {
    font-size: 2.4vmin; }
  body h5 {
    font-size: 2.5vmin; }
  body h6 {
    line-height: 130%;
    font-size: 2.4vmin; }
  body p {
    line-height: 130%;
    font-size: 2.4vmin; }
  body span {
    line-height: 130%;
    font-size: 2.4vmin; }

.container-full {
  padding-top: 0;
  padding-bottom: 0; }
  .container-full .row {
    margin-left: 0;
    margin-right: 0; }
  .container-full div[class*='col-'] {
    padding-left: 0;
    padding-right: 0; }

.container > .container-full {
  margin-left: -15px;
  margin-right: -15px; }

section .section-banner, section #services .section-banner, #services section .section-banner, section #contact .section-banner, #contact section .section-banner {
  height: 50vmin; }
section .section-content {
  padding: 5vw; }
  section .section-content h3 {
    margin: 0 0 2vh;
    font-size: 2.75vw;
    font-family: "Museo_700", sans-serif;
    text-transform: uppercase;
    color: #ffde17; }

.ico-large {
  width: 50vmin; }

.ico-small {
  width: 12vmin; }

.ico-xsmall {
  width: 3vmin; }

#navigation {
  padding: 5vmin 10vmin 0 10vmin; }
  #navigation #locator {
    position: fixed;
    z-index: 100;
    font-size: 3vmin; }

#banner {
  height: 100%;
  padding: 5vw 5vw 0 5vw; }
  #banner h1 {
    margin: 0 0 1vw; }
  #banner h3 {
    margin: 0 0 2vw;
    text-transform: uppercase; }
  #banner h4 {
    font-family: "Museo_700", sans-serif;
    margin: 1vw 0; }
  #banner p {
    text-align: justify; }
  #banner .ico-small {
    margin: 5vw 0; }
  #banner #news-container .news-message {
    padding: 0 0 1vw; }

#services .section-banner {
  background: url("../img/content/citit-normalne.png") no-repeat center center/cover; }
#services #orbit div:nth-child(1) {
  display: block; }
#services #orbit .orbit-content {
  display: none; }
#services #orbit-controls .orbit-neutron {
  width: 1.5vw;
  height: 1.5vw;
  margin: 3vw 1vw 0 0;
  border: 0.25vw solid #fff;
  border-radius: 50%;
  float: left;
  cursor: pointer; }
#services #orbit-controls :hover {
  background: #fff;
  -webkit-transition: ease 0.25s;
  -moz-transition: ease 0.25s;
  -ms-transition: ease 0.25s;
  -o-transition: ease 0.25s;
  transition: ease 0.25s; }
#services #orbit-controls :not(:hover) {
  background: none;
  -webkit-transition: ease 0.25s;
  -moz-transition: ease 0.25s;
  -ms-transition: ease 0.25s;
  -o-transition: ease 0.25s;
  transition: ease 0.25s; }
#services #orbit-controls .active {
  background: #fff; }

#team .tile {
  position: relative;
  overflow: hidden;
  height: 50vmin;
  background: #fff; }
  #team .tile:active .teammate-photo {
    transform: translate(100%); }
  #team .tile:active .teammate-info {
    transform: translate(0%); }
  #team .tile:not(:active) .teammate-photo {
    transform: translate(0%); }
  #team .tile:not(:active) .teammate-info {
    transform: translate(-100%); }
#team .teammate-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: transform 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); }
#team #teammate-photo-1 {
  background: url("../img/content/mudr-andrea-wolna-1.png") no-repeat center center/cover; }
#team #teammate-photo-2 {
  background: url("../img/content/mudr-andrea-wolna-2.png") no-repeat center center/cover; }
#team #teammate-photo-3 {
  background: url("../img/content/mudr-andrea-wolna-3.png") no-repeat center center/cover; }
#team #teammate-photo-4 {
  background: url("../img/content/mudr-andrea-wolna-3.png") no-repeat center center/cover; }
#team .teammate-info {
  display: grid;
  align-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: transform 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transform: translate(-100%);
  pointer-events: none; }
  #team .teammate-info h4 {
    font-family: "Museo_500", sans-serif;
    font-size: 6vmin;
    color: #c22240; }
  #team .teammate-info p {
    font-size: 3vmin;
    color: #808285; }

#contact .section-banner {
  background: url("../img/content/citit2.png") no-repeat center center/cover; }
#contact #message-form {
  display: grid;
  grid-gap: 2vmin; }
  #contact #message-form input[type="text"], #contact #message-form textarea, #contact #message-form input[type="submit"] {
    width: 100%;
    padding: 2.2vmin;
    background: inherit;
    border: 0.2vmin solid #fff;
    border-radius: 1vh;
    font-size: 2vmin;
    color: #fff; }
  #contact #message-form textarea {
    resize: none;
    height: 20vmin; }
  #contact #message-form input[type="submit"] {
    width: 25%;
    text-transform: uppercase;
    justify-self: end; }
  #contact #message-form ::placeholder {
    color: #e6e6e6; }
  #contact #message-form :focus {
    outline: none; }
#contact #map {
  height: 50vmin;
  overflow: hidden;
  position: relative; }

#footer {
  padding: 5vw 5vw; }
  #footer h5 {
    padding: 0 0 1vw;
    font-family: "Museo_700", sans-serif;
    text-transform: uppercase;
    color: #ffde17; }
  #footer h6 {
    font-family: "Museo_700", sans-serif; }
  #footer p {
    margin: 0.5vw 0; }
  #footer #ulita {
    text-align: right; }
  #footer #authors {
    margin: 2.5vw 0;
    transform: translateY(5vw); }

/* Browser specific */
::-webkit-scrollbar {
  display: none; }

/*# sourceMappingURL=main.css.map */
