@import "variables"
body
  background: $primary-design-color
  font-family: $font-main
  color: $primary-color
  #userImg
    width: 10vmin
    height: 10vmin
    border: 0.5vmin solid $design-color-gray-secondary
    border-radius: 50%
    float: left
  h1