@font-face {
  src: url("../fonts/Museo300-Regular.otf") format("opentype");
  font-family: "Museo_300";
  font-style: normal; }
@font-face {
  src: url("../fonts/Museo500-Regular.otf") format("opentype");
  font-family: "Museo_500";
  font-style: normal; }
@font-face {
  src: url("../fonts/Museo700-Regular.otf") format("opentype");
  font-family: "Museo_700";
  font-style: normal; }
body {
  background: #c22240;
  font-family: "Museo_300", sans-serif;
  color: #fff; }

section {
  padding: 0 0 2vmin 0; }

.alert {
  position: absolute;
  top: 3vmin;
  left: 0;
  right: 0;
  z-index: 100;
  width: 50vh;
  margin: auto;
  padding: 3vmin;
  border-radius: 1vh;
  font-size: 2.5vmin;
  text-align: center; }
  .alert.success {
    background: #fff;
    color: #c22240; }
  .alert.failure {
    background: #ffde17;
    color: #c22240; }

#welcome {
  padding: 5vmin 0 2vmin 0; }
  #welcome #logo {
    width: 50vmin;
    margin: 0 0 1vmin 0; }
  #welcome h1 {
    font-size: 6vmin; }
  #welcome p {
    font-size: 2.4vmin; }
    #welcome p mark {
      padding: 0 !important;
      background: transparent;
      color: #ffde17; }

#news h2 {
  font-size: 2.5vmin; }
#news h3 {
  font-size: 2vmin; }
#news p {
  font-size: 2vmin; }

#administration #letterCounter {
  font-size: 2.2vmin; }
#administration input, #administration textarea {
  width: 100%;
  margin: 1vmin 0 1vmin 0;
  padding: 2.2vmin;
  background: transparent;
  border: 0.2vmin solid #fff;
  border-radius: 1vh;
  font-size: 2vmin;
  color: #fff; }
  #administration input::placeholder, #administration textarea::placeholder {
    color: #e6e6e6; }
  #administration input:focus, #administration textarea:focus {
    outline: none; }
  #administration input[type="submit"], #administration textarea[type="submit"] {
    width: 35%;
    float: right;
    text-transform: uppercase; }
#administration textarea {
  height: 12.5vmin;
  resize: none; }

#footer input[name="logout"], #footer #administration textarea[name="logout"], #administration #footer textarea[name="logout"] {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 2.2vmin;
  color: #fff;
  cursor: pointer; }
  #footer input[name="logout"]:focus, #footer #administration textarea[name="logout"]:focus, #administration #footer textarea[name="logout"]:focus {
    outline: none; }
  #footer input[name="logout"]:hover, #footer #administration textarea[name="logout"]:hover, #administration #footer textarea[name="logout"]:hover, #footer input[name="logout"]:not(:hover), #footer #administration textarea[name="logout"]:not(:hover), #administration #footer textarea[name="logout"]:not(:hover) {
    color: #ffde17;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.25s;
    -ms-transition: ease 0.25s;
    -o-transition: ease 0.25s;
    transition: ease 0.25s; }
  #footer input[name="logout"]:not(:hover), #footer #administration textarea[name="logout"]:not(:hover), #administration #footer textarea[name="logout"]:not(:hover) {
    color: #fff; }
#footer h6 {
  font-size: 2.2vmin; }

/*# sourceMappingURL=manage.css.map */
