@font-face
  src: url("../fonts/Museo300-Regular.otf") format("opentype")
  font-family: 'Museo_300'
  font-style: normal
@font-face
  src: url("../fonts/Museo500-Regular.otf") format("opentype")
  font-family: 'Museo_500'
  font-style: normal
@font-face
  src: url("../fonts/Museo700-Regular.otf") format("opentype")
  font-family: 'Museo_700'
  font-style: normal

$font-main: "Museo_300", sans-serif
$font-main-bolder: "Museo_500", sans-serif
$font-main-boldest: "Museo_700", sans-serif
$primary-color: #fff
$secondary-color: #000
$primary-design-color: rgb(194, 34, 64)
$secondary-design-color: rgb(255, 222, 23)
$design-color-gray: #e6e6e6
$design-color-gray-secondary: #808285
$ico-large: 50vmin
$ico-small: 10vmin